#wpfomo {
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0, .1);
  padding: 10px;
  position: fixed;
  bottom: -110px;
  left: 15px;
  min-height: 80px;
  width: 400px;
  z-index: 9999;
  transition: all 400ms;
}
#wpfomo.is-visible {
  bottom: 15px;
  left: 15px;
}
#wpfomo .wpfomo-product-thumb {
  width: 22%;
  height: 100%;
  border-right: 3px solid #f4f4f4;
}
#wpfomo .wpfomo-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  padding-left: 10px;
}
#wpfomo .wpfomo-content-wrapper .wpfomo-buyer {
  font-size: 13px;
}
#wpfomo .wpfomo-content-wrapper .wpfomo-product-name {
  font-weight: 600;
  text-decoration: none;
  color: #00bf42;
  line-height: 2;
}
#wpfomo .wpfomo-content-wrapper .time {
  font-size: 13px;
}
